*{
    margin: 0;
    padding: 0;
}

.colorText{
    color:#155ccf!important;
}
footer{
    background: linear-gradient(45deg, #966a48, rgb(153, 92, 77),#714794, #364279, #446d8f);
	background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}


.footerItems a .fab {
    color:#e6d9cd;
}
section p, h6, .copyright, span, a{
    color:#e6d9cd!important
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navbar.colorChange{
    background: rgb(255, 255, 255)!important;
    box-shadow: 0 8px 20px -10px rgba(0, 0, 0, 0.2)!important;
}

.navbar{
    background: transparent!important;
    transition: 200ms ease all;
    box-shadow: none!important;
}

.topNav{
    background:#2b2b2b;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color:#e6d9cd;
}
.navLogo{
    font-weight: 900;
    color:#e6d9cd!important;
}

.navItem{
    color:#e6d9cd!important;
    font-weight: 900;
}

.navDark{
    color:#2b2b2b!important;
}
/*****Home Page Styling*****/
.landingSection {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
      url(https://cdn.shopify.com/s/files/1/0034/7550/5225/files/HomepageHeroPieDesktop_1_1500x.jpg?v=1633120900);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-attachment: fixed;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
  }
  
  .landingTitle{
    font-size: 5.2rem;
    color: #fff4e9;
    font-weight: 900;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.562);
    text-align: center;
  }

  .landingSub {
    font-size: 1.3rem;
    color: #fff4e9;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.562);
  }
  
  .landingLine {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }


.leftLine,
.rightLine {
  background: white;
  height: 0.1rem;
  width: 8rem;
  margin-top: 0.6rem;
}

.landingButton {
  color: #fff4e9;
  padding: 0.8rem 1rem 0.8rem 1rem;
  font-weight: 900;
  transition: 200ms ease all;
  width: 11rem;
  font-size: .9rem;
  height: 3.3rem;
}

.landingButton:hover {
  background:#0d4fb8;
  color:#e6d9cd;
}

.buttonCol {
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
    text-transform: capitalize;
}

.offersSection{
    height: fit-content;
    background: #fff4e9;
    display:flex;
    text-align: center;
    flex-direction: column;
    padding: 4rem 0 4rem 0;
    color:#2b2b2b;
}
#offerTag {
    color:#0d4fb8!important;
    text-decoration: underline;
}
.offerRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 2rem;
    flex-wrap: wrap;

}

.offerImg{
    width: 20rem;
}
.itemTitle{
    margin-top: 1rem;
    font-size: .9rem;
}
.contentRow{
    height: fit-content;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.contentColImg{
    width: 50%;
    height: 40rem;
    background: url(//cdn.shopify.com/s/files/1/0034/7550/5225/files/TosiECHASSignSmile1x1_4_500x.jpg?v=1631814332);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contentColInfo{
    min-width: 50%;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    text-align: left;
    color:#2b2b2b;
    flex-wrap: wrap;


}

.whyUs{
    height: fit-content;
    background: #fff4e9;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.whyUsRow{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 1.5rem;
}

.whyItem{
    width: 25rem;
}
.containerThing{
    background:linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url(https://cdn.shopify.com/s/files/1/0034/7550/5225/files/AlexAlt_1500x.jpg?v=1631555505);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: right;
    flex-direction: column;
}

.containerOffset{
    margin-right: 5rem;

}

.footerLogo{
    margin-left: -1rem;
}

.contentTitle, .width{
    width: 25rem;
}

#abtBtn{
    margin-left: -17rem;
}

.containerTitle, .containerInfo{
    color:#e6d9cd!important;
}

.whyIcon{
    color:#155ccf!important;
    padding-bottom: 1.5rem;
}

.whyInfo, .whyTitle{
    color:#2b2b2b;
}

.contactContainer{
    height: fit-content;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #2b2b2b;
}